.loading{
   display : flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   &-circle {
  border: 3px solid hsla(0, 0%, 100%,0.5);
  border-top-color: $dark-mode-text;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}