.modal-error-message {
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    padding: 10px 20px;
    height: 100px;
    background-color: hsl(0, 100%, 30%);
    flex-direction: column;

    & p {
        color: $dark-mode-text;
    }

    &-close-icon {
        display: flex;
        justify-content: flex-end;
        // align-items: center;
        width: 100%;
        height: 20px;
        margin-bottom: 10px;

        & i {
            color: hsla(0, 0%, 100%, 0.5);
            font-size: 1rem;
        }
    }
}